@use '../../sass/vars';

.main {
	background: black;
	position: relative;
	height: 32em;
	z-index: 0;

	.carousel {
		max-height: 100%;
		max-width: 100vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		filter: opacity(0);
		transition: all 500ms ease-in-out;
		z-index: 1;

		&.active {
			filter: opacity(1);
			z-index: 2;
		}
	}

	.arrow-right-container,
	.arrow-left-container {
		position: absolute;
		border: 0;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(0, 0, 0, 0.8);
		padding: 2em 1em;
		cursor: pointer;
		transition: all 100ms linear;
		z-index: 3;

		&:hover {
			background: rgba(50, 50, 50, 0.8);
		}
	}

	.arrow-left-container {
		left: 0;
		border-radius: 0 6px 6px 0;
	}

	.arrow-right-container {
		right: 0;
		border-radius: 6px 0 0 6px;
	}

	.dot-row {
		position: absolute;
		bottom: 0.5em;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: row;
		z-index: 3;

		.dot {
			cursor: pointer;
			display: block;
			border: 0;
			background: vars.$main;
			border-radius: 50%;
			height: 1em;
			width: 1em;
			padding: 0;
			margin: 0.25em;
			box-sizing: border-box;
			transition: all 250ms linear;

			&.active {
				border: 2px solid vars.$main;
				background: vars.$sec;
			}
		}
	}

	@media screen and (max-width: 450px) {
		height: 8em;
	}
}
