@use '../../sass/vars';

.main {
	display: flex;
	background: vars.$main;
	flex-direction: row;
	font-size: larger;
	height: 3.52em;
	position: relative;

	.logo-link {
		display: block;

		.logo {
			display: block;
			height: 100%;
			padding: 0 1em;
		}
	}

	.list {
		display: flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
		z-index: 2;

		.chevron-buffer {
			position: relative;
			height: 3.52em;
			display: block;

			.chevron {
				height: 3.52em;
				display: block;
				margin: auto;
			}
		}

		.link {
			list-style: none;
			background: vars.$main;
			margin-top: -1px;
			cursor: pointer;
			transition: background 150ms ease-in-out;

			.link-text {
				display: block;
				color: white;
				padding: 1em;
				text-decoration: none;
				font-family: vars.$main-font;
			}

			&.dropdown {
				.link-row {
					width: 100%;
					overflow: hidden;

					&:has(.link-text:hover) {
						overflow: visible;
					}

					.submenu {
						transform: translate(100%, -50%);
					}
				}

				&:not(:hover) {
					overflow: hidden;
				}
			}

			&:hover {
				background: vars.$cont;
				transition: background 150ms ease-in-out;
			}
		}

		@media screen and (max-width: 911px) {
			display: flex;
			flex-direction: column;
			overflow: visible;

			&.closed {
				overflow: hidden;
			}
		}
	}

	@media screen and (max-width: 911px) {
		justify-content: space-between;
	}
}

