@use '$/vars';

.main {
	width: 100vw;
	height: 100vh;
	background: vars.$dull;

	.card {
		padding: 4em;
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 2em;

		.picture-wrapper {
			display: block;
			position: relative;
			width: 16em;
			height: 16em;
			overflow: hidden;

			.picture {
				display: block;
				position: absolute;
				width: 100%;
			}
		}

		.text {
			padding: 1em;
		}

		.name {
			color: white;
			font-size: 3em;
			margin: 0;
			text-decoration: none;
		}

		.position {
			margin: 0;
			color: white;

			.linkedin {
				margin-left: 2ch;
				color: white;
			}
		}

		.desc {
			font-size: 1.25em;
			color: white;
			text-indent: 1em;
		}

		@media screen and (max-width: 911px) {
			display: grid;
			grid-template-areas:
				'picture header '
				'desc desc';
			grid-template-columns: unset;
			row-gap: 0.5em;
			padding: 2em;

			.picture-wrapper {
				grid-area: picture;
			}

			.header {
				grid-area: header;
			}

			.desc-wrapper {
				grid-area: desc;
				margin: 0;
			}
		}

		@media screen and (max-width: 600px) {
			.name {
				font-size: 2.5em;
			}

			.picture-wrapper {
				width: 40vw;
				height: 40vw;
			}

			.position {
				font-size: 0.75em;
			}

			.desc {
				font-size: 1em;
			}
		}

		@media screen and (max-width: 400px) {
			.name {
				font-size: 1.25em;
			}

			.position {
				font-size: 0.5em;
			}

			.desc {
				font-size: 0.75em;
			}
		}
	}
}
