@use '../../sass/vars';

.main {
	padding: 1em;
	margin: 1em 2em;
	background: white;
	color: vars.$main;

	.signature {
		text-align: right;
		margin-top: 1em;
	}

	.heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	h4 {
		margin: 0.25em 0;
	}
}
