@use '$/vars';

.main {
	min-height: 100vh;
	background: vars.$dull;

	.notice {
		color: red;
		font-size: 2em;
		margin-left: 2em;
		margin-top: 1em;
	}

	.member-card {
		display: flex;
		margin: 0 2em;
		padding: 2em;
		gap: 2em;

		.picture-wrapper {
			display: block;
			position: relative;
			min-height: 20vw;
			min-width: 20vw;
			overflow: hidden;

			.picture {
				display: block;
				position: absolute;
				width: 100%;
			}

			
		}

		.text {
			padding: 1em;
		}
		
		.name {
			color: white;
			font-size: 3em;
			margin: 0;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.position {
			margin: 0;
			color: white;

			.linkedin {
				margin-left: 2ch;
				color: white;
			}
		}

		.desc {
			font-size: 1.25em;
			color: white;
			text-indent: 1em;
		}

		@media screen and (max-width: 588px) {
			display: grid;
			grid-template-areas: 'picture name .'
								 'position position position'
								 'desc desc desc';
			row-gap: 0.5em;

			.picture-wrapper {
				grid-area: picture;
			}

			.name {
				grid-area: name;
			}

			.position {
				grid-area: position;
			}

			.desc {
				grid-area: desc;
				margin: 0;
			}
		}
	}
}
